.content {
  padding-left: 1.5rem;
}

.home {
  font-family: "Helvetica Neue";
  max-width: 20rem;
  max-width: 15em;
  padding-top: 12px;
  padding-left: 15px;

  .link {
    text-decoration: none;
    color: #616161;
  }
}

.sidebar {
  width: 3rem;
  position: fixed;
  top: 0;
  height: calc(100% - 4rem - 2px);
  margin-right: 5px;

  .text-container {
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    writing-mode: vertical-lr;

    .arrows {
      margin: 5px 0;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px){
  .content {
    padding: 2rem 0 0;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    width: 95%;
    height: 3rem;
    margin: 0;
    top: 10px;
    display: flex;
    justify-content: center;

    .text-container {
      writing-mode: initial;
      padding: 10px 15px;
      border: 1px solid #000;
      border-radius: 25px;
      height: 12px;

      .arrows {
        margin: 0 8px 5px;
      }
    }
  }
}