.reading-list {
  font-family: "Helvetica Neue";
  margin-left: 5px;
  padding-left: 10px;

  ul {
    padding: 0px;
    padding-left: 15px;
  }
}

.legend {
  p {
    margin: 0px;
  }
}

.read {
  color: #767676;
}

.reading {
  font-weight: bold;
}